.startNowForm-containter{
    width: 100%;
    height: 100vh;
}

.startNowForm-frame{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex; flex-direction: column; align-items: center; gap: 5rem;
}

.startNowForm-content{
    width: 57%;
    height: 100%;
    border-radius: 1rem;
    display: flex; align-items: end; justify-content: center;
}

.startNowForm-form{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(48, 48, 48); 
    border-radius: 1rem;
    display: flex; flex-direction: column; 
    position: relative;
    background: radial-gradient(50% 75% at 98.9% 100%,rgba(129, 74, 200, 0.192) 0%, var(--token-b2fb23d9-6070-4f2d-b3d0-2fe68c4f2aab, rgba(13, 13, 13, 0.562)) 100%);
}

.snf-inputWrapper{
    height: 45%;
    width: 100%;
    display: flex; flex-direction: column; justify-content: space-between;
    padding: 1rem 1rem;
}

.snf-buttonWrapper{
    height: 55%; width: 100%;
    padding: 1rem 1rem;
}

.snf-group{
    display: flex; flex-direction: column; justify-content: space-between;
    height: 30%;
    width: 100%;
}

.snf-group label{
    margin: 0px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    height: 30%;
}

.snf-group input, .snf-textarea{
    border: 1px solid rgb(48, 48, 48);
    background-color: var(--token-b2fb23d9-6070-4f2d-b3d0-2fe68c4f2aab, rgba(13, 13, 13, 0.8));
    border-radius: 5px;
    height: 60%;
    font-size: 0.9rem;
    padding-left: 1rem;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.snf-group input, textarea{
    color: rgba(255, 255, 255, 0.75);
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.snf-group input:-webkit-autofill, textarea:-webkit-autofill, .form-textarea:-webkit-autofill, textarea:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.75) !important;
    background-color: transparent !important;
    transition: background-color 9999s ease-out;
}

.snf-group input:focus{
    border: 1px solid rgb(98, 98, 98);
    outline: none;
}

.snf-pageSelector{
    width: 100%;
    height: 50%;
    display: flex; gap: 1.5rem;
}

.snf-page{
    height: 100%;
    width: 50%;
    border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}

.snf-page-tittle{
    margin: 0px 0px 0px 0px;
    width: 100%; height: 22%;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Inter", sans-serif; font-size: 1rem;
    display: flex; align-items: center; justify-content: center;
    font-weight: 500;
}

.snf-input{
    width: 50%;
    height: 20%;
    border-radius: 1rem;
    display: flex;
}

.snf-input label{
    display: flex; align-items: center; gap: 0.3rem;
}

.snf-input p{
    margin: 0px 0px 0px;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Inter", sans-serif; font-size: 0.9rem;
    font-weight: 500;
}

.snf-package{
    height: 100%;
    width: 50%;
    border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}

.snf-submitt{
    width: 100%;
    height: 50%;
    display: flex; flex-direction: column; justify-content: space-between;
}

.snf-group2{
    width: 100%;
    height: 100%;
    display: flex; flex-direction: column; gap: 1.5rem;
}

.snf-group2-div{
    width: 100%;
    height: 60%;
}

.snf-group2-div label{
    height: 25%;
}

.snf-textarea{
    height: 70%;
    vertical-align: top;
    padding-top: 1rem;
    padding-right: 1rem;
    resize: vertical;
    overflow: auto;
}

.snf-textarea::-webkit-scrollbar{
  display: none;
}

.snf-textarea, textarea{
    color: rgba(255, 255, 255, 0.75);
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.snf-textarea:focus{
    border: 1px solid rgb(98, 98, 98);
    outline: none;
}

.snf-button{
    width: 100%;
    height: 40%;
}

.snf-button button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #814ac8;
    font-size: 0.8rem;
    padding-left: 1rem;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.form-button button:hover {
  background-color: #6e3cb5;
}

.success-message{
    width: 100%; height: 6%;
    top: 100%;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(48, 48, 48);
    display: flex; align-items: center; justify-content: center;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Inter", sans-serif; font-size: 1rem; font-weight: 500;
}


@media (max-width: 768px) {

.startNowForm-containter{
    height: 90vh
}

.startNowForm-frame{
    justify-content: start; gap: 1.5rem;
    width: 90%;
}

.startNowForm-content{
    width: 100%;
}

.success-message{
    font-size: 0.9rem;
    height: 8%;
}

.snf-input{
    width: 100%;
}

.snf-input p{
    font-size: 0.8rem;
}

.snf-page-tittle{
    font-size: 0.9rem;
    height: 20%;
}

}